---
import Layout from "../../../layouts/Layout.astro";
import Event from "../../../components/event.astro";
import Hero from "../../../components/hero.astro";
import { allEventsSorted } from "../../../utils/events";

export async function getStaticPaths() {
  const uniqueCategories = [...new Set(allEventsSorted.map((event) => event.data.category).flat())];

  return uniqueCategories.map((category) => {
    const filteredEvents = allEventsSorted.filter((event) =>
      event.data.category.includes(category)
    );
    return {
      params: { category },
      props: { events: filteredEvents },
    };
  });
}

const { category } = Astro.params;
const { events } = Astro.props;
---

<Layout title={category} description={`All events under the category: ${category}`}>
  <Hero
    variant="auto"
    title={`#${category}`}
    caption="category"
  />

  <section class="hero bg-base-200">
		<div class="hero-content w-4/5">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -my-8">
            {events.map((event, p_ix) =>
              <Event index={p_ix} event={event}/>
            )}
          </div>
        </div>
	</section>
</BaseLayout>