---
import Layout from "../../layouts/Layout.astro";
import { getFormattedDate } from "../../utils/dates";
import Hero from "../../components/hero.astro";
import { allPostsSorted } from "../../utils/posts";
---

<Layout title="Blog" description="Access all of our previous blog posts.">
  <main>
    <Hero
      variant="auto"
      title="Archive"
      description="Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi."
    />

    <!-- Blog -->
    <section class="body-font overflow-hidden bg-base-200">
        <div class="container py-12 w-full mx-auto">
            {allPostsSorted.map((post, p_ix) =>
            <div class={"p-6 divide-gray-100" + (p_ix % 2 ? " bg-base-300" : "")}>
                <div class="lg:px-52 py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold text-primary text-xs uppercase">{post.data.category}</span>
                    <span class="my-4 text-lg">{getFormattedDate(post.data.pubDate)}</span>
                    <div>
                        {post.data.tags.map((tag:string) => <a href={`/blog/tag/${tag}`} class="badge mr-2 text-xs">{tag}</a>)}
                    </div>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium mb-2">{post.data.title}</h2>
                    <p class="leading-relaxed">{post.data.description}</p>
                    <a href={`/blog/${post.slug}`} class="btn btn-outline btn-primary btn-sm inline-flex items-center mt-4">Read More</a>
                </div>
                </div>
            </div>)}
        </div>
    </section>
  </main>
</Layout>