---
interface ShareButton {
    url: string
    text: string
    size: "xs" | "sm" | 'md' | 'lg' 
}
  
const { url, text, size } = Astro.props as ShareButton;
---

<div class="sharing-buttons flex flex-wrap">
  <a
    class={`text-white btn btn-primary btn-circle btn-${size} mr-2`}
    target="_blank"
    rel="noopener"
    href={`https://facebook.com/sharer/sharer.php?u=${url}`}
    aria-label="Share on Facebook"
  >
    <svg
      aria-hidden="true"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      class="w-4 h-4"
    >
      <title>Facebook</title>
      <path
        d="M379 22v75h-44c-36 0-42 17-42 41v54h84l-12 85h-72v217h-88V277h-72v-85h72v-62c0-72 45-112 109-112 31 0 58 3 65 4z"
      >
      </path>
    </svg>
  </a>
  <a
    class={`text-white btn btn-primary btn-circle btn-${size} mr-2`}
    target="_blank"
    rel="noopener"
    href={`https://twitter.com/intent/tweet?url=${url}&text=${text}`}
    aria-label="Share on Twitter"
  >
    <svg
      aria-hidden="true"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      class="w-4 h-4"
    >
      <title>Twitter</title>
      <path
        d="m459 152 1 13c0 139-106 299-299 299-59 0-115-17-161-47a217 217 0 0 0 156-44c-47-1-85-31-98-72l19 1c10 0 19-1 28-3-48-10-84-52-84-103v-2c14 8 30 13 47 14A105 105 0 0 1 36 67c51 64 129 106 216 110-2-8-2-16-2-24a105 105 0 0 1 181-72c24-4 47-13 67-25-8 24-25 45-46 58 21-3 41-8 60-17-14 21-32 40-53 55z"
      >
      </path>
    </svg>
  </a>
  <a
    class={`text-white btn btn-primary btn-circle btn-${size} mr-2`}
    target="_blank"
    rel="noopener"
    href={`mailto:?subject=${text}&body=${url}`}
    aria-label="Share by Email"
    draggable="false"
  >
    <svg
      aria-hidden="true"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
      class="w-4 h-4"
    >
      <title>Email</title>
      <path
        d="M464 64a48 48 0 0 1 29 86L275 314c-11 8-27 8-38 0L19 150a48 48 0 0 1 29-86h416zM218 339c22 17 54 17 76 0l218-163v208c0 35-29 64-64 64H64c-35 0-64-29-64-64V176l218 163z"
      >
      </path>
    </svg>
  </a>
</div>
